@import "tailwindcss";

html {
  font-size: 62.5%;
}

:root {
  --light-foreground: #f3f3f3;
  --light-background: #1f1f1f;
  --dark-foreground: #bdbdbd;
  --dark-background: #0e0e0e;
  --radius: 14px;
}

@theme inline {
  --color-background: var(--dark-background);
  --color-foreground: var(--light-foreground);
  --color-light-foreground: var(--light-foreground);
  --color-light-background: var(--light-background);
  --color-dark-foreground: var(--dark-foreground);
  --color-dark-background: var(--dark-background);
  --font-sans: var(--font-lexend);
  --rounded-primary: var(--radius);
}

body {
  background: var(--dark-background);
  color: var(--light-foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@layer base {
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .no-scrollbar::-webkit-scrollbar,
  .no-scrollbar::-webkit-scrollbar-button {
    display: none;
  }
}

@layer components {
  /* Buttons */

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .btn {
    @apply flex items-center justify-center bg-light-foreground
      text-dark-background font-semibold px-8 py-3;

    font-size: 1.4rem;
    border-radius: var(--radius);
    cursor: pointer;
    transition: background 0.3s ease-out;
  }

  .btn:hover {
    @apply bg-light-foreground/80;
  }

  .btn-ghost {
    @apply bg-transparent text-light-foreground;
  }

  .btn-ghost:hover {
    background-color: var(--color-light-background);
  }

  .btn-circle {
    width: 3.2rem;
    height: 3.2rem;
    @apply p-0 rounded-full;
  }

  .btn-faded {
    @apply bg-light-background text-light-foreground;
  }

  .btn-faded:hover {
    @apply bg-light-background/50;
  }

  /* Avatar */

  .avatar-container {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  .avatar-gradient {
    background: linear-gradient(#4e9bff, #77ffa2);
  }

  /* Inputs */

  input,
  textarea {
    @apply w-full px-6 py-4;

    font-size: 1.2rem;
    border-radius: calc(var(--radius) / 2);
    background-color: var(--light-background);
    outline: none;
    resize: none;
  }

  ::placeholder {
    font-size: 1.2rem;
  }

  label {
    display: block;
    margin-bottom: 0.8rem;
    color: var(--color-dark-foreground);
  }

  /* Badges */

  .badge {
    background-color: var(--color-light-background);
    padding: 0.4rem 1rem;
    border-radius: var(--radius);
  }
}

@layer utilities {
  .p-container {
    padding: 2rem 4rem;
  }
}

/* Tooltips */

.tooltip-content {
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0.2s;
  pointer-events: none;
}

.tooltip-trigger:hover .tooltip-content {
  pointer-events: auto;
  opacity: 1;
}

/* Grids */

.grid-upload-page {
  display: grid;
  grid-template: repeat(1, 1fr) / 1fr 400px;
}

/* Animations */

.drop-animation .drop-animation-image {
  animation: ImageDropAnimation 0.8s ease-in-out forwards;
}

@keyframes ImageDropAnimation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(12deg);
  }
}

.animate-opacity {
  animation: AnimateOpacity 0.2s ease-out forwards;
}

@keyframes AnimateOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
