@import "tailwindcss";

html {
  font-size: 62.5%;
}

:root {
  --light-foreground-hover: #f3f3f3d8;
  --light-background-hover: #25252580;
  --light-foreground: #f3f3f3;
  --light-background: #252525;
  --dark-foreground: #bdbdbd;
  --dark-background: #0e0e0e;
  --radius: 14px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-foreground: var(--light-foreground);
  --color-light-background: var(--light-background);
  --color-dark-foreground: var(--dark-foreground);
  --color-dark-background: var(--dark-background);
  --color-light-foreground-hover: var(--light-foreground-hover);
  --color-light-background-hover: var(--light-background-hover);
  --font-sans: var(--font-lexend);
  --rounded-primary: var(--radius);
}

body {
  background: var(--dark-background);
  color: var(--light-foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@layer components {
  /* Buttons */
  .btn {
    @apply flex items-center justify-center bg-light-foreground
      text-dark-background font-semibold px-8 py-3;

    font-size: 1.4rem;
    border-radius: var(--radius);
    cursor: pointer;
    transition: background 0.3s ease-out;
  }

  .btn:hover {
    background: var(--light-foreground-hover);
  }

  .btn-ghost {
    @apply bg-transparent text-light-foreground;
  }

  .btn-ghost:hover {
    background-color: var(--color-light-background);
  }

  .btn-circle {
    width: 3.2rem;
    height: 3.2rem;
    @apply p-0 rounded-full;
  }

  /* Avatar */

  .avatar-container {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  .avatar-gradient {
    background: linear-gradient(#4e9bff, #77ffa2);
  }
}

@layer utilities {
  .p-container {
    padding: 2rem 4rem;
  }
}

svg path,
svg stroke {
  fill: var(--light-foreground);
}

/* Tooltips */

.tooltip-content {
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0.2s;
  pointer-events: none;
}

.tooltip-trigger:hover .tooltip-content {
  pointer-events: auto;
  opacity: 1;
}
